@font-face {
    font-family: "Lato";
    src: url("../Lato/Lato-Regular.ttf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Lato';
}

html{
    font-size: 62.5%;
    background-color: #c9dff0;
}

body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color:#c9dff0;
    color: black;
}

header{
    margin-top: 50px;
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-family:'Lato';
    font-size: 4rem;
    color: black;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}

.logo:hover{
    transform: scale(1.1);
}

nav a{
    font-size: 2rem;
    color: black;
    margin-left: 4rem;
    font-weight: 400;
}

nav a {
    box-shadow: inset 0 0 0 0 #155f46;
    color: #000000;
    padding: 0.1rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

nav a:hover {
    box-shadow: inset 100px 0 0 0 #155f46;
    color: white;
}

section{
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 60px 9% 0;
}



.contact-content h1{
    font-size: 40px;
    margin-top: 5px;
    transition: color 5s ease-in-out;
}

.contact-content p{
    font-size: 25px;
    line-height: 30px;
    margin: 10px 0 30px;
    padding-right: 7rem;
    transition: color 5s ease-in-out;
}